@use "global" as *;


.campaign__slider {
    margin-top: rem(28);
    @include mq("md"){
        margin-top: rem(39);
    }
}

.campaign__btn {
    margin-top: rem(20);
    margin-right: rem(5);
    text-align: center;
    @include mq("md"){
        margin-top: rem(60);
    }
}