@use "global" as *;

.footer {
    background-color: $main;
}

.inner.footer__inner {
    padding-inline: rem(14);
}

.footer__head {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    max-width: calc(rem(375) - rem(14) * 2);
    margin-inline: auto;
    @include mq("md"){
        flex-direction: row;
        gap: rem(40);
    }
}

.footer__logo {
    width: rem(120);
    @include mq("md"){
        width: rem(200);
    }
}

.footer__logo img {
    aspect-ratio: 200 / 75;
    object-fit: cover;
    height: auto;
}

.footer__sns-items {
    display: flex;
    gap: rem(18.25);
    align-items: center;
    @include mq("md"){
        gap: rem(19);
        margin-top: rem(38);
    }
}

.footer__sns--facebook {
    width: rem(25);
    @include mq("md"){
        width: rem(26);
    }
}

.footer__sns--instagram {
    width: rem(20);
    @include mq("md"){
        width: rem(26);
    }
}

.footer__sns--facebook img {
    aspect-ratio: 64 / 64;
    object-fit: cover;
    height: auto;
}

.footer__sns--instagram img {
    aspect-ratio: 52 / 52;
    object-fit: cover;
    height: auto;
}

.footer__nav {
    margin-top: rem(40);
    @include mq("md"){
        margin-top: rem(24);
    }
}

.footer__copyright {
    font-size: rem(12);
    line-height: calc(18 / 12);
    color: $white;
    font-family: $second-font-family;
    margin-top: 40px;
    letter-spacing: -0.03em;
    display: block;
    text-align: center;
    @include mq("md"){
        font-size: rem(14);
        line-height: calc(18 / 14);
        margin-top: rem(80);
    }
}