@use "global" as *;

.layout__campaign {
    margin-top: rem(40);
    @include mq("md"){
        margin-top: rem(115);
    }
}

.layout__contact-common {
    padding-top: rem(80);
    padding-bottom: rem(100);
    @include mq("md"){
        padding-top: rem(140);
        padding-bottom: rem(160);
    }
}

.layout__footer {
    padding-top: rem(48);
    padding-bottom: rem(56);
    @include mq("md"){
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}