@use "global" as *;

// mv
.splide__img {
    height: 100vh;
    height: 100svh;
}

.splide__img img {
    aspect-ratio: 375 / 667;
    object-fit: cover;
    width:  100%;
    height: 100%;
    object-position: bottom;
    @include mq("md"){
        aspect-ratio: 1440 / 768;
    }
}

// campaign
.splide__card {
    padding-bottom: rem(20);
}