@use "global" as *;

.top-campaign__inner {
    max-width: rem(630);
    padding-inline: rem(5);
    margin-inline: auto;

    @include mq("md"){
        max-width: rem(1150);
        padding-inline: rem(25);
        position: relative
    }
}

.top-campaign__slider {
    margin-top: rem(28);
    margin-right: calc(50% - 50vw);
    max-width: 100vw;

    @include mq("md"){
        margin-top: rem(39);
        position: relative;
    }
}

.top-campaign__btn {
    margin-top: rem(20);
    text-align: center;

    @include mq("md"){
        margin-top: rem(60);
    }
}