@use "global" as *;

.top-about {
    position: relative;
}

.top-about::after {
    @include mq("md"){
        position: absolute;
        content: '';
        width:  rem(194);
        height:  rem(181);
        right: calc(50% - min(50% - ((20 / (1440 / 2)) * 50%), rem((1440 / 2)- 83)));
        bottom: rem(-90);
        background: url(../images/common/aboutUs_pic.webp) right bottom /contain no-repeat;
    }
}

.top-about__container {
    background-image: url(../images/aboutus/aboutUs_02.webp), url(../images/aboutus/aboutUs_01.webp);
    background-position: left top, 100% rem(26);
    background-repeat: no-repeat, no-repeat;
    background-size: calc((128 / 345) * 100%), calc((281 / 345) * 100%);
    margin-top: rem(28);
    @include mq("md"){
        background-position: left top, 100% calc(rem(80));
        background-size: calc((400 / 1080) * 100%), calc((880 / 1080) * 100%);
        max-width: rem(1080);
        margin-top: rem(39);
        min-height: rem(661);
        position: relative;
        width:  100%;
    }
}

.top-about__main {
    padding-top:  calc((212 / 345) * 100%);
    @include mq("md"){
        display: grid;
        grid-template-columns: repeat(2, rem(400));
        gap: rem(40);
        justify-content: center;
        padding-top: rem(184);
        padding-left:  calc((159 / 1080) * 100%);
    }
}

.top-about__title {
    font-family: $second-font-family;
    font-size: rem(40);
    line-height: 1;
    color: $main;
    margin-top: rem(40);
    @include mq("md"){
        color: $white;
        font-size: rem(80);
        line-height: calc(100 / 80);
        margin-top: rem(17);
    }
}

.top-about__other {
    margin-top: rem(16);
}

.top-about__text {
    line-height: calc(24 / 16);
    @include mq("md"){
        color: $white;
    }
}

.top-about__btn {
    margin-top: rem(50);
    text-align: center;
    @include mq("md"){
        margin-top: rem(40);
    }
}

