@use "global"as *;

.blog-cards {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: rem(40);

    @include mq("md") {
        grid-template-columns: repeat(3, 1fr);
    }
}

.blog-cards--top {
    @include mq("md") {
        grid-template-columns: repeat(3, 1fr);
    }
}

.blog-cards--blog {
    @include mq("md") {
        grid-template-columns: repeat(2, 1fr);
    }
}