@use "global"as *;

.campaign__list {
    margin-top: rem(40);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(39);
    padding-inline: rem(33);

    @include mq("md") {
        grid-template-columns: repeat(2, 1fr);
        row-gap: unset;
        column-gap: rem(40);
        padding-inline: unset;
    }
}

.campaign__card:nth-of-type(n+3) {
    @include mq("md") {
        margin-top: rem(80);
    }
}

.campaign__pagenavi {
    margin-top: rem(79);
}

/* サムネイル画像の中にネストされた <a> を打ち消す */
.wpp-thumb-wrapper>a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    display: contents;
    /* HTML構造上、親aと被らないように */
}

.wpp-thumb-wrapper>a>img {
    pointer-events: auto;
    display: block;
}