@use "global" as *;

.campaign-tab {
    gap: rem(16) rem(21);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    @include mq("md"){
        column-gap: rem(32);
    }
}

.campaign-tab__item {
    min-width: rem(162);
    font-size: rem(14);
    color: $main;
    background-color: $white;
    line-height: calc(22 / 14);
    padding: rem(5) rem(9);
    text-align: center;
    border: 1px solid $main;
}

.campaign-tab__item--active {
    background-color: $main;
    color: $white;
}