@use "global" as *;

.sub-page-fish {
    position: relative;
}

.sub-page-fish::before {
    position: absolute;
    content: '';
    width: rem(120);
    height: rem(55);
    top: rem(-24);
    left: calc(50% - min(50% - ((15 / (375 / 2)) * 50%), rem((615 / 2)- 15)));
    background: url(../images/common/fish_green_pic.webp) left top /contain no-repeat;
    scale: -1 1;
    z-index: -1;
    @include mq("md"){
        width: rem(301);
        height: rem(138);
        top: rem(-70);
        left: calc(50% - min(50% - ((20 / (1440 / 2)) * 50%), rem((1440 / 2)- 100)));
    }
}

.campaign__list {
    margin-top: rem(40);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(40);
    padding-inline: rem(33);
    @include mq("md"){
        grid-template-columns: repeat(2, 1fr);
        row-gap: unset;
        column-gap: rem(40);
        padding-inline: unset;
    }
}

.campaign__card:nth-of-type(n+3) {
    @include mq("md"){
        margin-top: rem(80);
    }
}

.campaign__pagination {
    margin-top: rem(78);
    @include mq("md"){
        margin-top: rem(80 );
    }
}