@use "global"as *;

// エラー表示
.form__error-text {
    display: none;
}

.form__error-text::before {
    content: "※";
    display: inline-block;
}

.form:has(.is-error) .form__error-text {
    font-size: rem(14);
    color: $red;
    display: flex;
    margin-inline: auto;
    line-height: calc(20 / 16);
    max-width: rem(224);

    @include mq("md") {
        max-width: unset;
        justify-content: center;
    }
}

.form__list:has(.is-error) {
    margin-top: rem(45);

    @include mq("md") {
        margin-top: rem(41);
    }
}

// フォーム
.form__item {
    padding-bottom: rem(24);
    background-image: linear-gradient(to right, $main rem(3), transparent rem(1));
    background-size: rem(4) rem(1);
    background-repeat: repeat-x;
    background-position: left bottom;

    @include mq("md") {
        display: grid;
        grid-template-columns: auto calc((480 / 700) * 100%);
        justify-content: space-between;
        padding-bottom: rem(40.5);
    }
}

.form__item+.form__item {
    margin-top: rem(23);

    @include mq("md") {
        margin-top: rem(40);
    }
}

.form__title label,
.form__title legend {
    font-weight: $bold;
    display: flex;
    align-items: center;
    gap: rem(8);
}

.form__input {
    margin-top: rem(16);

    @include mq("md") {
        margin-top: unset;
    }
}

//プレースホルダー
.form__input input::placeholder,
.form__textarea textarea::placeholder {
    color: $bg;
}

.is-error .form__input input::placeholder,
.is-error .form__textarea textarea::placeholder {
    color: $white;
}

//インプット
.form__input input,
.form__textarea textarea {
    width: 100%;
    padding: rem(8) rem(16) rem(13);
    border: 1px solid $main;
    border-radius: 0;

    @include mq("md") {
        width: 100%;
        margin-left: 0;
        padding-left: rem(15);
    }
}

.form__textarea p {
    width: 100%;
}

.form__input input {
    height: rem(40);
}

.form__textarea textarea {
    height: rem(200);
}

.form__input input,
.form__textarea textarea {
    outline: none;
}

.form__input input:focus,
.form__textarea textarea:focus {
    outline: rem(1) solid $main;
}

.is-error .form__input input,
.is-error .form__textarea textarea {
    border-color: $red;
    background-color: rgba($color: $red, $alpha: 0.2);
}

// チェックボックス
.wpcf7-form-control {
    display: flex;
    flex-direction: column;
}

.form__checkbox span {
    margin: 0;
}

.form__checkbox input[type="checkbox"]+span {
    cursor: pointer;
    display: flex;
    gap: rem(8);
    align-items: center;
    position: relative;
    line-height: calc(26 / 16);
}

.form__checkbox input[type="checkbox"]+span::before {
    content: '';
    width: rem(14);
    height: rem(14);
    border: 1px solid $main;
    display: inline-block;
    margin-top: rem(4);
}

.form__checkbox input[type="checkbox"]:focus+span::before {
    outline: rem(1) solid $main;
}

.form__checkbox input[type="checkbox"]+span::after {
    content: '';
    display: none;
}

.form__checkbox input[type="checkbox"]:checked+span::after {
    display: block;
    position: absolute;
    top: rem(11);
    left: rem(3);
    width: rem(9);
    height: rem(5);
    border-left: 2px solid $red;
    border-bottom: 2px solid $red;
    rotate: 320deg;
}

.is-error .form__checkbox input[type="checkbox"]+span::before {
    border-color: $red;
}

//セレクト
.form__select {
    position: relative;
}

.form__select select {
    width: 100%;
    height: rem(40);
    padding: rem(8) rem(15) rem(12) rem(7);
    border: 1px solid $main;
    font-size: rem(12);
    appearance: none;
}

.form__select::after {
    position: absolute;
    content: '';
    width: rem(10);
    height: rem(8);
    top: rem(13);
    right: rem(8);
    display: inline-block;
    background-color: $main;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.form__select select:focus {
    outline: rem(1) solid $main;
}

// お問合せ内容
.form__textarea {
    display: flex;
}

// 同意
.form__acceptance {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(80);
    }
}

.form__acceptance br {
    display: none;
}

.form__acceptance span {
    margin: 0;
}

.form__acceptance label {
    @include mq("md") {
        display: flex;
        justify-content: center;
    }
}

.form__acceptance input[type="checkbox"]+span {
    display: grid;
    grid-template-columns: rem(22) auto;
    gap: rem(8);
    max-width: rem(282);
    margin-inline: auto;
    font-size: rem(14);
    position: relative;
    line-height: calc(22 / 14);

    @include mq("md") {
        max-width: rem(500);
        gap: rem(16);
    }
}

.form__acceptance input[type="checkbox"]+span::before {
    content: '';
    width: rem(22);
    height: rem(22);
    border: 1px solid $main;
    display: inline-block;
}

.form__acceptance input[type="checkbox"]:focus+span::before {
    outline: rem(1) solid $main;
}

.form__acceptance input[type="checkbox"]+span::after {
    content: '';
    display: none;
}

.form__acceptance input[type="checkbox"]:checked+span::after {
    display: block;
    position: absolute;
    top: rem(5);
    left: rem(4);
    width: rem(15);
    height: rem(8);
    border-left: 3px solid $red;
    border-bottom: 3px solid $red;
    rotate: 320deg;
}

// ボタン
.form__submit {
    margin-top: rem(24);
    text-align: center;

    @include mq("md") {
        margin-top: rem(40);
    }
}

// 未チェック時の動作
#submit-confirm:disabled {
    background-color: $white;
    cursor: not-allowed;
    opacity: 0.6;
}