@use "global"as *;

.information__tab-list {
    display: flex;
    justify-content: space-between;
    gap: rem(20);

    @include mq("md") {
        gap: calc((90 / 1080) * 100%);
    }
}

.information__tab-menu {
    display: flex;
    width: 100%;
}

.information__contents {
    margin-top: rem(16);

    @include mq("md") {
        margin-top: rem(24);
    }
}