@use "global" as *;

.page-top {
    width: rem(48);
    height: rem(48);
    border: 1px solid $main;
    border-radius: 50%;
    position: fixed;
    right: rem(15);
    bottom: rem(16);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: background-color 0.3s, visibility 0.3s, opacity 0.3s;
    @include mq("md"){
        width: rem(80);
        height: rem(80 );
        right: rem(20);
        bottom: rem(20);
    }
}

.page-top::before {
    content: '';
    width:  rem(1);
    height:  rem(28);
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $main;
    @include mq("md"){
        height: rem(40);
        transform: translate(calc(50% + rem(2)), -50%);
    }
}
.page-top::after {
    position: absolute;
    content: '';
    width:  rem(1);
    height:  rem(9);
    top: rem(8);
    left: rem(19);
    rotate: 45deg;
    background-color: $main;
    @include mq("md"){
        height: rem(9);
        top: rem(18);
        left: rem(38);
    }
}

.page-top.is-show {
    opacity: 1;
    visibility: visible;
}

body {
    position: relative;
}