@use "global" as *;

.pagination {
    display: flex;
    gap: rem(40);
    justify-content: center;
}
.pagination__box {
    width: rem(38);
    height: rem(38);
    display:grid;
    place-content:center;
    border: 1px solid $main;
}

.pagination__box {
    position: relative;
}

.pagination__prev .pagination__box::before,
.pagination__next .pagination__box::before {
    position: absolute;
    content: '';
    width:  rem(12);
    height:  rem(12);
    top:50%;
    left: 50%;
    border-top: 1px solid $main;
    border-left: 1px solid $main;
}

.pagination__prev .pagination__box::before {
    transform: rotate(-45deg) translate(15%, -50%);
}

.pagination__next .pagination__box::before {
    transform: rotate(137deg) translate(30%, 90%);
}

.pagination__number-box {
    display: flex;
    gap: rem(12);
}

.pagination__number {
    color: $main;
    font-family: $third-font-family;
    font-weight: $bold;
}

.pagination__number-pc {
    display: none;
    @include mq("md"){
        display: grid;
    }
}
.pagination__number--active {
    background-color: $main;
    color: $white;
}
