@use "global" as *;

.section-title {
    text-align: center;
}

.section-title__sub {
    font-size: rem(32);
    font-family: $second-font-family;
    line-height: calc(40 / 32);
    color: $font;
    font-weight: $normal;

    @include mq("md") {
        font-size: rem(40);
    }
}

.section-title__sub--white {
    @include mq("md") {
        color: $white;
    }
}

.section-title__sub::first-letter {
    color: $main;
}

.section-title__sub--white::first-letter {
    @include mq("md") {
        color: $white;
    }
}

.section-title__main {
    font-size: rem(12);
    line-height: calc(18 / 12);
    color: $main;
    margin-top: rem(4);
    font-weight: $normal;
}

.section-title__main--white {
    @include mq("md") {
        color: $white;
    }
}

.section-title__sub--contact {
    font-size: rem(80);
    line-height: 1;

    @include mq("md") {
        font-size: rem(80);
    }
}

.section-title__main--contact {
    margin-top: rem(-7);
}