@use "global"as *;

.sidebar__blog+.sidebar__blog {
    margin-top: rem(80);
}


.sidebar__contents {
    margin-top: rem(24);
}

// 人気記事
.sidebar__article-list li+li {
    margin-top: rem(24);
}

.sidebar-article__img {
    margin-block: auto;
}

// 口コミ
.sidebar__voice-img img {
    aspect-ratio: 294/218;
    object-fit: cover;
    height: auto;
}

.sidebar__voice-belong {
    margin-top: rem(15);
    font-size: rem(12);
}

.sidebar__voice-title {
    margin-top: rem(6);
    font-size: rem(24);
    font-weight: $medium;
    line-height: calc(35 / 24);
    margin-top: rem(8);
}

.sidebar__voice-btn {
    margin-top: rem(44);
    text-align: center;
    padding-bottom: rem(4);
}

// キャンペーン
.sidebar__campaign-list,
.sidebar__campaign-card {
    display: grid;
}

.sidebar__campaign-card+.sidebar__campaign-card {
    margin-top: rem(40);
}

.sidebar__campaign-btn {
    margin-top: rem(39);
    text-align: center;
    padding-bottom: rem(4);
}

// アーカイブ
.sidebar__archive-item+.sidebar__archive-item {
    margin-top: rem(3);
}

.sidebar__archive-year {
    padding-left: rem(6);
}

.sidebar__archive-year,
.sidebar__archive-month {
    font-size: rem(24);
    color: $main;
    display: flex;
    gap: rem(5);
    cursor: pointer;
}

.sidebar__archive-year::before,
.sidebar__archive-month::before {
    position: relative;
    content: '';
    width: rem(21);
    height: rem(21);
    left: 0;
    top: rem(8);
    clip-path: polygon(0 0, 0% 100%, 85% 50%);
    background-color: $main;
    display: inline-block;
    transition: all 0.3s;
}

.sidebar__archive-year.open::before {
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    width: rem(21);
    height: rem(18);
    top: rem(12);
    left: rem(-5);
}

.sidebar__archive-list {
    margin-left: rem(30);
    display: none;
}

.sidebar__archive-month+.sidebar__archive-month {
    margin-top: rem(9);
}

.sidebar__archive-month {
    padding-top: rem(3);
}