@use "global"as *;

.top-voice {
    position: relative;
}

.top-voice::before {
    @include mq("md") {
        position: absolute;
        content: '';
        width: rem(301);
        height: rem(138);
        top: rem(-115);
        left: calc(50% - min(50% - ((20 / (1440 / 2)) * 50%), rem((1440 / 2) - 100)));
        background: url(../images/common/fish_green_pic.webp) left top /contain no-repeat;
        scale: -1 1;
    }
}

.top-voice__inner::after {
    @include mq("md") {
        position: absolute;
        content: '';
        width: rem(71);
        height: rem(162);
        bottom: rem(-71);
        right: calc(50% - min(50% - ((20 / (1440 / 2)) * 50%), rem((1440 / 2) - 180)));
        background: url(../images/common/dragon_pic.webp) left top /contain no-repeat;
    }
}

.top-voice__cards {
    margin-top: rem(44);

    @include mq("md") {
        margin-top: rem(29);
    }
}

.top-voice__btn {
    margin-top: rem(39);
    text-align: center;

    @include mq("md") {
        margin-top: rem(80);
    }
}