@use "global"as *;

.layout-top-information {
    margin-top: rem(74);
    padding-top: rem(80);
    padding-bottom: rem(84);

    @include mq("md") {
        margin-top: rem(164);
        padding-top: rem(94);
        padding-bottom: rem(76);
    }
}