@use "../global" as *;
.header {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: $gray;
}

.header__logo {
  /* ロゴのスタイル */
}

.header__nav {
  /* ナビゲーション全体のスタイル */
}

.header__nav-list {
  display: flex;
}

.header__nav-item + .header__nav-item {
  margin-left: 32px;
}

.header__nav-link {
  color: $black;
}
