@use "../global" as *;
.tab {
  display: flex;
}

.tab__link + .tab__link {
  margin-left: 24px;
}

.tab__link {
  display: block;
  color: $black;
  padding: 4px 12px;
  border: 2px solid $black;
  border-radius: 5px;
}

.tab__link.is-active {
  background-color: $black;
  color: $white;
}
