@use "../global" as *;
.top {
  padding: 50px 0;
}

.top__img-wrapper {
  padding: 32px 0;
  margin-top: 48px;
  background-color: $gray;
}

.top__post {
  padding: 32px 0;
}

.top__tab-list {
  margin-top: 24px;
}
