@use "global" as *;

.card {
    padding-bottom: rem(18);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    @include mq("md"){
        padding-bottom: rem(34);
    }
}

.card__img img {
    aspect-ratio: 280 / 188;
    object-fit: cover;
    height: auto;
    @include mq("md"){
    aspect-ratio: 333 / 223;
    }
}

.card__tag,
.card__title,
.card__text,
.card__price {
    margin-inline: rem(16);
}


.card__tag {
    font-size: rem(12);
    line-height: calc(22 / 12);
    color: $main;
    border: 1px solid $main;
    padding: rem(3) rem(11);
    display: inline-block;
    margin-top: rem(16);
    @include mq("md"){
        padding: rem(5) rem(15);
        margin-top: rem(24);
    }
}

.card__title {
    font-weight: 500;
    line-height: calc(24 / 16);
    border-bottom: 1px solid $main;
    margin-top: rem(4);
    padding-bottom: rem(7);
}

.card__text {
    font-size: rem(14);
    line-height: calc(24 / 14);
    margin-top: rem(8);
    text-align: center;
    @include mq("md"){
        font-size: rem(16);
        margin-top: rem(15);
        padding-right: rem(16);
    }
}

.card__price {
    margin-top: rem(11);
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: $second-font-family;
    @include mq("md"){
        margin-top: rem(9);
        margin-left: calc((35 / 333) * 100%);
        justify-content: start;
    }
}

.card__price-origin {
    font-size: rem(20);
    font-weight: $bold;
    position: relative;
    letter-spacing: -0.05em;
    @include mq("md"){
        font-size: min(24px, calc(24 / 1400 * 100vw));
    }
}

.card__price-origin::before {
    content: "";
    display: block;
    width: 100%;
    height: rem(3);
    background-color: #C94800;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 3px));
    left: 0;
}

.card__price-sale {
    margin-left: rem(16);
    font-size:  rem(32);
    font-weight: $bold;
    line-height: 1;
    color: $main;
    letter-spacing: -0.06em;
    @include mq("md"){
        margin-left: rem(24);
        font-size: min(40px, calc(40 / 1400 * 100vw));
    }
}