@use "global" as *;

.layout__campaign {
    margin-top: rem(40);
    @include mq("md"){
        margin-top: rem(115);
    }
}

.layout__top-about {
        margin-top: rem(84);
        @include mq("md"){
            margin-top: rem(139);
        }
    }
    
    .layout__information {
        margin-top: rem(74);
        padding-top: rem(80);
        padding-bottom: rem(84);
        @include mq("md"){
            margin-top: rem(164);
            padding-top: rem(95);
            padding-bottom: rem(76);
        }
    }
    
    .layout__top-blog {
        margin-top: rem(80);
        @include mq("md"){
            margin-top: 0;
            padding-top: rem(95);
    }
}

.layout__top-voice {
    margin-top: rem(83);
    @include mq("md"){
        margin-top: rem(139);
    }
}


.layout__top-price {
    margin-top: rem(84);
    padding-top: rem(80);
    padding-bottom: rem(84);
    @include mq("md"){
        margin-top: rem(144);
        padding-top: rem(95);
        padding-bottom: rem(104);
    }
}

.layout__contact-common {
    margin-top: rem(80);
    @include mq("md"){
        margin-top: rem(140);
    }
}

.layout__footer {
    margin-top: rem(104);
    padding-top: rem(48);
    padding-bottom: rem(56);
    @include mq("md"){
        margin-top: rem(159);
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}