@use "global" as *;

.layout__campaign {
    margin-top: rem(40);
    @include mq("md"){
        margin-top: rem(115);
    }
}

.layout__top-about {
        margin-top: rem(84);
        padding-bottom: rem(74);
    @include mq("md"){
        margin-top: rem(139);
        padding-bottom: rem(164);
    }
}

.layout__information {
    padding-top: rem(80);
    padding-bottom: rem(84);
    @include mq("md"){
        padding-top: rem(95);
        padding-bottom: rem(76);
    }
}

.layout__top-blog {
    padding-top: rem(80);
    @include mq("md"){
        padding-top: rem(95);
    }
}

.layout__top-voice {
    padding-top: rem(83);
    padding-bottom: rem(84);
    @include mq("md"){
        padding-top: rem(139);
        padding-bottom: rem(144);
    }
}


.layout__top-price {
    padding-top: rem(80);
    padding-bottom: rem(84);
    @include mq("md"){
        padding-top: rem(95);
        padding-bottom: rem(104);
    }
}

.layout__contact-common {
    padding-top: rem(80);
    padding-bottom: rem(104);
    @include mq("md"){
        padding-top: rem(140);
        padding-bottom: rem(159);
    }
}

.layout__footer {
    padding-top: rem(48);
    padding-bottom: rem(56);
    @include mq("md"){
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}